.icon-dropdown {
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;

  .dd-icon {
    margin-left: -10px;
    color: var(--primary);
    vertical-align: middle;
  }
}

.text-dd-popover {
  .MuiPopover-paper {
    padding: 5px 0;
    .dd-menu-item.active {
      color: var(--primary);
    }
  }
}

.text-dropdown.primary {
  .dd-value {
    color: var(--primary);
  }
}
