@import '../../mixins/common';
@import '../../mixins/responsive';

.navigation-wrap {
  .tool-btn-wrap {
    padding: 0 28px;

    .tool-btn {
      background: #f3f3f3;
      width: 100%;
      padding: 8px 20px;
      border-radius: 12px;
      text-transform: none;
      font-size: 1.5em;
      color: var(--text-darker);

      .tool-icon {
        max-height: 32px;
        max-width: 32px;
        margin-right: 30px;
      }
    }
  }

  .menu-list {
    margin-top: 24px;
    margin-left: 24px;
    max-height: calc(100vh - 215px);
    overflow-x: hidden;
    overflow-y: auto;

    @include w1280 {
      max-height: unset;
      margin: 0 12px;

      .menu-icon {
        padding-left: 32px;
      }
    }

    .menu-item {
      padding: 16px;
      border-radius: 12px;

      .menu-icon {
        min-width: 30px;
        margin-right: 24px;
      }

      &.selected {
        background: var(--primary);
        color: #fff;
      }
    }
  }
}

.navigation-grid {
  @include w1280 {
    display: none;
    padding-bottom: 30px;

    &.menu-open {
      display: block;
    }
  }
}
