@import '../../mixins/common';

.header-wrap {
  .header-container {
    @include lrPartition;
    padding: 32px 41px 32px 16px;

    @include w1024 {
      padding: 24px 41px 16px 16px;
    }

    @include w600 {
      flex-direction: column;
      padding: 24px 12px 16px;

      .left-partition {
        align-self: flex-start;
      }

      .right-partition {
        align-self: flex-end;
      }
    }

    .partition {
      @include flexCenterRow;
    }

    .left-partition {
      .menu-btn-wrap {
        display: none;
      }

      @include w1280 {
        .menu-btn-wrap {
          display: block;
          margin-right: 8px;

          .menu-btn-icon {
            font-size: 42px;
            color: var(--primary);
          }
        }

        .logo-wrap {
          img {
            margin-bottom: -8px;
            width: 200px;
          }
        }
      }
    }

    .right-partition {
      .notification-panel {
        padding: 0px 28px;
        border-radius: 15px;

        .notification-menu {
          .notification-icon {
            color: var(--primary);
            font-size: 30px;
            margin-bottom: -8px;
            height: 35px;
          }
        }

        .prof-menu-wrap {
          .profile-menu {
            .prof-img {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              box-shadow: 2px 2px 4px #000000;
            }
          }
        }
      }
    }
  }

  .item-bg-shade {
    @include flexCenterRow;
    background: var(--bg-item);
  }

  .mobile-options {
    display: none;

    @include w1024 {
      @include lrPartition;
      margin-bottom: 38px;
    }

    @include w600 {
      @include flexCenter;

      .dd-options-wrap {
        margin-left: 0;
        margin-bottom: 42px;
        width: 80vw;
      }

      .search-wrap {
        margin-right: -10px;
        .txt-field {
          width: 100%;
        }
      }
    }
  }

  //--------------- dd options ----------------------

  .dd-options-wrap {
    border-radius: 20px;
    margin-left: 100px;
    padding: 20px 28px;
    font-weight: 500;
    font-size: 1.2em;

    @include w1280 {
      margin-left: 32px;
      padding: 16px 28px;
    }

    @include w1024 {
      display: none;

      &.is-mobile {
        @include flexCenterRow;
      }
    }

    .dd-1 {
      margin-right: 45px;

      @include w1280 {
        margin-right: 16px;
      }
    }
  }

  //------------------- search bar -----------------------
  .search-wrap {
    margin-right: 55px;

    @include w1280 {
      margin-right: 32px;
    }

    @include w1024 {
      display: none;

      &.is-mobile {
        display: block;
      }
    }

    .txt-field {
      .txt-field-inp {
        border-radius: 10px;
        height: 60px;
        color: var(--primary);
      }

      .MuiInputBase-input {
        &::placeholder {
          color: var(--primary);
          font-weight: 500;
        }
      }

      .MuiSvgIcon-root {
        color: var(--primary);
      }
    }
  }
}
