@import '../../mixins/common';

.custom-dropdown {
  display: inline-flex;
  justify-content: center;
  border: 3px solid var(--text);
  border-radius: 5px;
  cursor: pointer;

  .dropdown-content {
    @include flexCenterRow;
    padding: 4px 20px;

    .dd-icon {
      @include flexCenter;
      margin-left: 10px;
    }
  }

  &.custom-dd-open {
    background: #fff;
  }

  &.primary {
    background: var(--primary);
    color: #fff;
    border-color: var(--primary);

    &.custom-dd-open {
      background: #fff;
      color: var(--primary);
    }
  }

  &.secondary {
    background: var(--secondary);
    color: #fff;
    border-color: var(--secondary);

    &.custom-dd-open {
      background: #fff;
      color: var(--secondary);
    }
  }
}

.custom-dd-popover {
  .MuiPopover-paper {
    margin-top: 8px;
    padding: 10px 0;

    .dd-menu-item {
      @include flexCenter;

      &.active {
        color: var(--primary);
      }
    }
  }

  &.primary {
    .MuiPopover-paper {
      background: var(--primary);
      color: #fff;

      .dd-menu-item.active {
        color: #000;
      }
    }
  }

  &.secondary {
    .MuiPopover-paper {
      background: var(--secondary);
      color: #fff;

      .dd-menu-item.active {
        color: #000;
      }
    }
  }
}
