@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #e3e3e3;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
